<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

<form action="/query" method="GET">
        <div class="login">
                <div class="login-screen">
			<div class="app-title">
                                <h4>Enter a Sequence ID.</h4> <p>For eg:  3050107579885e1608e6fe50fae3f8d0,  6681ac2f62509cfc220d78751b8dc524</p>
                        </div>

                        <div class="input-form">
                                <div class="control-group">
                                <input type="text" class="login-field" value="" name="sequence_id">
                                </div>

                <input type="submit" value="Get Metadata" class="btn btn-primary btn-large btn-block" >
                            <br>
                        </div>
                </div>
        <p> Message : {{message}} </p>
        </div>

</form>



{% endblock %}
